/* header */
.container-header {
    width: 100%;
    color: white;
}

.container-top-header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    height: 80px;
}

.container-top-header .start-bs {
    padding: 10px;
}

.nav_bar .fa-bars {
    color: #888888;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 10px;
}

.nav_bar nav {
    display: none;
}

.container-bottom-header {
    max-width: 100%;
    background-color: #1ABC9C;
    padding-bottom: 30px;
}

.content-bottom-header {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    align-items: center;
}

.content-bottom-header .img-avatar {
    display: flex;
    justify-content: center;
    max-width: 50%;
}


.content-bottom-header img {
    max-width: 100%;
    height: 400px;
}

.col_head {
    height: 3px;
}

@media (min-width: 768px) {

    .container-top-header {
        justify-content: space-around;
    }

    .nav_bar .fa-bars {
        display: none;
    }

    .container-top-header .nav_bar {
        display: flex;
        justify-content: space-around;
    }

    .nav_bar nav {
        display: block;
    }

    .nav_bar nav a {
        text-decoration: none;
        color: white;
        padding-right: 1rem;
    }

    .content-bottom-header {
        max-width: 70%;
    }
}


/* MAIN */

.main h1 {
    text-align: center;
}

.main .row.col_port {
    height: 3px;
}

.main .row {
    height: 200px;
}

.main .card_first {
    background-color: #BA4B63;
    height: 100%;
}

.main .card_second {
    background-color: #1EA4B6;
    height: 100%;
}

.main .card_third {
    background-color: #140F0F;
    height: 100%;
}

.main .card_fourth {
    background-color: #1C83C1;
    height: 100%;
}

.main .card_fifth {
    background-color: #0E38B5;
    height: 100%;
}

.main .card_sixth {
    background-color: #CCB2A3;
    height: 100%;
}

