body {
    font-family: 'Raleway', sans-serif;
    color: white;
}
/* header */
.header-page {
    background-color: rgba(26, 155, 123, 0.9);
}
/* header: navbar */
.nav_bar {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
}

.menu_bar a {
    color: white;
    text-decoration: none;
}

.menu_bar a:hover {
    color: #1ABC9C;
}

/* header: section-bottom */
.star .line-star {
    height: 3px;
    background-color: white;
    margin: .5rem;
    width: 100%;
}

/* section portfolio */

.bl_card {
    border-radius: 3rem;
    overflow: hidden;
}


/* about */
.about {
    background-color: rgba(26, 155, 123, 0.9);
}


/* form */
.container input, .container textarea {
    border: none;
    border-bottom: 2px solid black;
    box-shadow: none;
    border-radius: 0;
}