body {
    font-family: 'Raleway', sans-serif;
    color: white;
}
/* header */
.header-page {
    background-color: rgba(26, 155, 123, 0.9);
}
/* header: navbar */
.nav_bar {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
}

.menu_bar a {
    color: white;
    text-decoration: none;
}

.menu_bar a:hover {
    color: #1ABC9C;
}

.img-profile {
    display: inline-block;
    height: 100px;
}

.bl_card {
    background-color: salmon;
    border-radius: 3rem;
    overflow: hidden;
}

.about {
    background-color: rgba(26, 155, 123, 0.9);
}

.btn_send {
    background-color: aquamarine;
}


.container input {
    border: none;
    border-bottom: 2px solid black;
    box-shadow: none;
    border-radius: 0;
}